.technologies {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.technologies span {
	margin: 5px;
}
.contact-form-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 90px;
}
